* {
    margin: 0px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 20px;
}

.nav-logo {
    padding-left: 200px;
}

.nav-section ul {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-right: 200px;

}

.nav-section li {
    font-size: 21px;
    list-style: none;
    padding: 0px 20px;
}

.banner-container {
    height: 100vh;
    background-image: url('./asset/image/background.jpg'), linear-gradient(rgb(80, 79, 79), rgba(26, 25, 25, 0.959));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    align-items: center;

}

.banner-info {

    width: 1000px;
    margin: auto;

}

.banner-text {
    color: red;
}

.banner-title {
    margin-bottom: 40px;
    font-size: 80px;
    font-weight: bold;
    color: rgb(233, 233, 233);
}

.banner-description {
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
}

.banner-btn {
    padding: 12px 20px;
    border: 2px solid transparent;
}

.btn-color {
    background-color: rgb(255, 0, 0);
    color: white;
}

.service-container {
    height: 80vh;
    background-image: url('./asset/image/footer-bg.png'), linear-gradient(rgb(46, 45, 45), rgb(2, 2, 2));
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-title {
    color: white;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 40px;
}

.service-description {
    color: white;
    padding: 15px 0px 20px 30px;
    width: 50%;
}

.box {
    background-color: white;
    width: 280px;
    height: 250px;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    text-align: center;
    margin: 10px 10px 0px 0px;
}

.icons {
    width: 100px;
    margin-top: 50px;
}

.all-box {
    display: flex;

}

.banner-description {
    padding-top: 10px;
}

.service-btn {
    margin-bottom: 50px;
    margin-left: 30px;
}

.author-info {
    color: white;
    padding: 3px;
}

.author-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    margin-left: 20px;
}

.author-img {
    border: 1px dotted white;
    border-radius: 90px
}

.all-box {
    margin-right: 50px;
}

.author-btn {
    margin-left: 30px;
}
.author-flex{
    border-right: 2px solid red;
    padding-right: 25px;
}
.appointment-container{
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
gap: 20px;
width: 80%;
margin: auto;
background-color: red;
border-radius: 15px;
margin-top: -80px;
color: aliceblue;

}
.phone-call{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    gap: 20px;
    /* border-right: 1px solid rgb(0, 0, 0); */
}
.blog-description{
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-around; */
    /* border: 2px solid black; */
    /* margin: 30px 450px; */
    gap: 50px;
    width: 1000px;
    margin: auto;



}
.blog-img{
    width: 100%;
    border-radius: 5px;
}
.blog-title{
    padding: 80px;
    text-align: center;
    font-size: 30px;

}
.blog-para{
    padding: 10px;
    /* font-weight: bold; */
    font-size: 20px;
    
    
}
.blog1{
    width: 300px;
    height: 400px;
    background-color: rgb(245, 241, 241);
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;

}